<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ page.title }} - {{ site.title }}</title>
	{% include head.html %}
	<link rel="stylesheet" href="{{ "/assets/css/default.css" | prepend: site.baseurl_root }}">
</head>
<body>
	<div class="bg-indigo-200">
		<div class="container flex">
			<a href="/" class="py-4 font-medium text-xl">{{ site.title }}</a>
		</div>
	</div>

	<div class="container py-10">
		<h1>{{ page.title }}</h1>
		<hr>
		{{ content }}
	</div>
</body>
</html>
